*{padding: 0;margin: 0;}

.margin{width: 1080px;margin: 0 auto;}

#list-main{display: flex;flex-direction: column;margin-top: 10px;}
#list-shang{height:129px;margin-bottom: 1px solid #e3e3e3;}
#list-shang .list-box{height: 80px;}
#list-shang .list-box img{width:80px;height: 80px;float: left;border: 1px solid #e6e6e6;margin-top: 24px;}
#list-shang .list-box h3{font:20px/32px "Helvetica Neue',Helvetica,Arial,Sans-serif";color:#4a4a4a;line-height: 32px;margin-top: 24px;}
#list-shang .list-box h3 span:first-child{font:24px/32px "verdana";color:#FF4956}
#list-shang .list-box h3 span:nth-child(2){font-size: 14px;color:#FF4956}
#list-shang  .list-box-l{height: 80px;float: left;margin-left: 8px;}
#list-shang  .list-box-l p{font:14px/18px "";}
#list-shang  .list-box-l span{font:12px/18px "";color:#8f8f8f;}
#list-shang #timego span{font:bold 14px/18px "";color:red}
#list-main .list-main-jin{height: 60px;text-align: center;line-height: 60px;}
#list-main .list-main-jin img{height: 24px;width: 24px;}
#list-main .list-main-jin span{font:18px/60px "";color:#4a4a4a ;margin-left: 8px;}
#list-main .list-main-qiang{display: flex;justify-content: space-between;flex-wrap: wrap;}
#list-main .list-main-qiang li{width:253px;border:1px solid #8E8E8E;position: relative;margin-bottom: 20px;height: 330px;}
#list-main .list-main-qiang li .listing{width:253px;height: 253px;}
#list-main .list-main-qiang .list-main-qnan{font:10px/30px "";#666;margin:0 6px;}
#list-main .list-main-qiang .list-main-qnv{height: 32px;color:#FF4956;margin:0 6px;}
#list-main .list-main-qiang .list-main-qnv span:first-child{font-size: 14px;font-weight: bold; }
#list-main .list-main-qiang .list-main-qnv span:nth-child(2){font-size: 20px;font-weight: bold; }
#list-main .list-main-qiang .list-main-qnv span:nth-child(3){font-weight: bold; }
#list-main .list-main-qiang .list-main-qnv span:nth-child(4){color:#8E8E8E;}
#list-main .list-main-qiang .list-main-qnv span:nth-child(5){margin-left: 100px;font-weight: bold;color:#8E8E8E;}
#list-main .list-main-qiang li .list-main-imgc{width:40px;height: 40px;position: absolute;left:10px;top:10px;}
#list-main .list-main-qiang li .list-main-imgc img{width:40px;height: 40px;}
#list-main .nowte{height: 60px;line-height: 60px;text-align: center;font-size: 20px;margin: 10px 0;}
#list-main .nowte img{width:24px;height: 24px;;}
#list-main .nowte span{margin-left: 8px;}
